<header>
    <h1><span style="color: var(--blue)">G</span><span style="color: var(--red)">a</span><span style="color: var(--green)">m</span><span style="color: var(--brown)">e</span><span style="color: var(--blue)"> R</span><span style="color: var(--red)">e</span><span style="color: var(--green)">c</span></h1>
    <nav>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/recommendations">Recommendations Feed</a>
            </li>
            <li>
                <a href="/">Create New Recommendation</a>
            </li>
            <li>
                <a href="/users">Social Room</a>
            </li>
        </ul>
    </nav>
</header>