<header>
    <a href="/"><h1><span class="mobileHead">Get </span>Rec'd</h1></a>
    <nav>
        <ul>
            <li class="pc">
                <a href="/about">About</a>
            </li>
            <li class="details">
                <a href="/recommendations">Feed</a>
            </li>
        </ul>
    </nav>
</header>