<header>
    <h1>Rec'd</h1>
    <nav>
        <ul>
            <li>
                <a href="/about">About</a>
            </li>
            <li>
                <a href="/recommendations">Recommendations Feed</a>
            </li>
            <li>
                <a href="/">Create New Recommendation</a>
            </li>
            <li>
                <a href="/users">Social Room</a>
            </li>
        </ul>
    </nav>
</header>