<%- include('./partials/meta') %>
</head>
<body>
    <%- include('./partials/header') %>
    <h2>About Game Recommendation Engine</h2>
    <p>This is a passion project aimed at making learning game history interactive, easy, and fun.</p>
</body>
</html>