<%- include('./partials/meta') %>
<link rel="stylesheet" href="/about.css">
</head>
<body>
    <%- include('./partials/header') %>
    <h2>About Game Recommendation Engine</h2>
    <p>This is a passion project aimed at making learning game history interactive, easy, and fun.</p><br>
    <p>The recommendation engine is powered by Moby Games's free database API.</p><br>
    <p>This web page will recommend you a game out of 160,000+ options!</p>
</body>
</html>