<%- include('./partials/meta') %>
<link rel="stylesheet" href="/home.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
    <form method="POST" action="/recommendations/new" class="heroContainer">
        <input type="submit" value="GET&#10;/rec'd" class="hero">
    </form>
    </main>
</body>
</html>