<!DOCTYPE html>
<html lang="en">
<%- include('./partials/meta') %>
<body>
    <%- include('./partials/header') %>
    <p>Welcome. You've reached the game recommendation engine. Visit soon for some fun new tools for exploring the vast world of videogames.</p>
</body>
</html>