<%- include('./partials/meta') %>
</head>
<body>
    <%- include('./partials/header') %>
    <form method="POST" action="/recommendations/new">
        <input type="submit" value="Get a rec!">
    </form>
</body>
</html>