.feed {
    display: none
}
h2 {
    margin-bottom: 16px;
}
header {
    width: 100%;
    align-items: center;
}
main {
    width: 90%;
}
nav {
    text-align: center;
}
li {
    list-style-type: none;
}
img {
    width: 100%;
}

@media (min-width: 768px) {
    .details {
        display: list-item;
    }
    .feed {
        display: list-item;
    }
    main {
        width: 60%;
    }
    img {
        width: 100%
    }
}