<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <% for (doc of rec.games) { %>
        <h2>Recommendation</h2>
        <h3>Games</h3>
        <h4><%- doc.title %></h4>
    <% } %>
    <form method="POST" action ="/recommendations/<%- rec._id %>?_method=DELETE">
        <input type="submit" value="Delete Recommendation">
    </form>
</body>
</html>