<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <h2>Recommendation Requests</h2>
    <form method="POST" action="/recommendations/new">
        <input type="submit" value="Get 1 random recommendation!">
    </form>
</body>
</html>