<%- include('../partials/meta') %>
</head>
<body>
    <%- include('../partials/header') %>
    <h2>Recommendation Request Form</h2>
    <form method="POST" action="/recommendations/new">
        <input type="submit" value="Get 5 Random Recommendations!">
    </form>
</body>
</html>