<!DOCTYPE html>
<html lang="en">
<%- include('../partials/meta') %>
<body>
    <%- include('../partials/header') %>
    <h2>New User Form</h2>
    <form method="POST" action="/users/new">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br>

        <input type="submit" value="Create User Account">
    </form>
</body>
</html>